@import '../../../styles/colors';

.modal {
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  position: fixed;
}

.container {
  padding: 12px;
  color: $default-text-color;
  background-color: $default-foreground;
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
  font-size: 14px;
  
  @media (max-width: 600px) {
    max-width: 600px;
    height: 100%;
    border-radius: 0px;
  }
}

.children {
  padding: 10px;
}