@import '../../../styles/colors';

.current-tab {
  border-bottom: $default-blue solid 1px;
  
  span {
    color: $default-blue;
  }
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;  
  text-align: center;
  background-color: $default-background;
  border-bottom: $default-border-color solid 1px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 626px;
  margin: auto;
  max-width: 260px;
}

.nav-tab {
  flex: 1;
  padding: 16px;
  display: block;
  font-size: 13px;

  &:hover {
    background-color: $default-foreground;
  }

  a {
    text-decoration: none;
  }
}

.tab-span {
  font-size: 14px;
  color: $default-text-color;
}