$default-blue: #008CFF;
$default-white: #FFFFFF;
$blue-text-color: $default-blue;

/* Dark-Theme */
// $default-background: #25252b;
// $default-foreground: #2e2e35;
// 
// $default-border-color: #43424b;
// $default-border-highlight-color: #63626d;
// 
// $default-text-color: #FFFFFF;
// $muted-text-color: #AAAAAA;
// 
// $image-container-color: #202027;

/* Light-Theme */
$default-background: #ebebeb;
$default-foreground: #F7F7F7;

$default-border-color: #d8d8d8;
$default-shadow-color: #d8d8d8;

$default-text-color: #696969;
$muted-text-color: #AAAAAA;

$image-container-color: #dddddd;