$default-blue: #008CFF;
$default-white: #FFFFFF;
$blue-text-color: $default-blue;

/* Dark-Theme */
$default-background: #1A1A1A;
$default-foreground: #222222;

$default-border-color: #383838;
$default-border-highlight-color: #636363;

$default-text-color: #F5F5F5;
$muted-text-color: #AAAAAA;

$image-container-color: #151515;

/* Light-Theme */
// $default-background: #ebebeb;
// $default-foreground: #F7F7F7;
// 
// $default-border-color: #d8d8d8;
// $default-shadow-color: #d8d8d8;
// 
// $default-text-color: #696969;
// $muted-text-color: #AAAAAA;
// 
// $image-container-color: #dddddd;