// Font Weights
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f00000;

$color-grey-shade-8: #bbbbbb;
$color-grey-shade-7: #aaaaaa;
$color-grey-shade-6: #eeeeee;
$color-grey-shade-5: #dddddd;
$color-grey-shade-4: #cccccc;
$color-grey-shade-3: #999999;
$color-grey-shade-2: #646e76;
$color-grey-shade-1: #333333;
$color-grey-shade-0: #222222;

$color-yellow: #fffc00;
$color-blue: #16acff;
$color-salmon: #f13c58;
$color-purple: #a05dcc;

$color-pastel-salmon: #ff9192;
$color-pastel-yellow: #f2ee97;
$color-pastel-green: #aee5ad;
$color-pastel-blue: #84b8f4;
$color-pastel-pink: #ecb3d2;