%center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}

%muted-text {
  color: $muted-text-color;
}

%blue-button {
  font-family: 'Roboto';
  background-color: $primary-blue;
  color: #FFFFFF;
}