/* Font Weights */
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/* Colors */
$primary-blue: rgb(0, 140, 255);

/* Light-Theme */
// $primary-background: #F1F1F1;
// $primary-foreground: #F7F7F7;
// $primary-border-color: #E6E6E6;

/* Dark-Theme */
$primary-background: #2F2F36;
$primary-foreground: #38373F;
$primary-border-color: #43424b;

$blue-text-color: $primary-blue;

/* Light-Theme */
// $primary-text-color: #696969;
// $muted-text-color: #AAAAAA;

/* Dark-Theme */
$primary-text-color: #FFFFFF;
$muted-text-color: #AAAAAA;