@import '../../../styles/colors';
@import '../../../styles/extendables';
@import '../../../styles/mixins';

.post {
  @include container-box;
  
  text-align: center;
  font-size: 13px;
  max-width: 636px;
  margin: 12px;

  /* Post Image. */
  .image-container {
    background-color: $image-container-color;
    max-height: 500px;
    border-radius: 8px 8px 0px 0px;

    img {
      display: block;
      border-radius: 8px 8px 0px 0px;
      max-height: 500px;
      width: 100%;
      object-fit: contain;
    }
  }

  .post-info {
    padding: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;

    div {
      font-size: 13px;
    }

    div:nth-child(1) {
      flex: 2;

      .avatar-container {
        float: left;
      }

      .post-username-age {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
  
        span {
          flex: 1;
          padding: 2px;
        }
  
        /* username */
        span:nth-child(1) {
          font-size: 13px;
        }
  
        /* post age */
        span:nth-child(2) {
          @extend %muted-text;
        }
      }
    }

    .post-actions {
      flex: 1;
      display: flex;
      flex-direction: row;

      margin-top: 14px;

      span {
        flex: 1;
        text-align: center;
      }
    }
  }

  @media (min-width: 636px) {
    margin-left: auto;
    margin-right: auto;

    .post-info {
      flex-direction: row;

      .post-actions {
        height: 40%;
        margin: auto;

        span {
          text-align: right;
        }
      }
    }
  }
}