@import '../../../styles/colors';
@import '../../../styles/extendables';
@import '../../../styles/mixins';

.post {
  @include container-box;
  text-align: center;
  font-size: 13px;
  max-width: 640px;
  margin-top: 12px;
  margin-bottom: 12px;

  @media (min-width: 640px) {
    .post-info {
      flex-direction: row;

      .post-actions {
        height: 40%;
        margin: auto;
      }
    }
  }
}

.post-info {
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: row;

  div {
    font-size: 13px;
  }

  div:nth-child(1) {
    flex: 4;
  }
}

.avatar-container {
  float: left;
}

.post-header {
  display: flex;
  flex-direction: column;
  padding-left: 8px;

  span {
    flex: 1;
    padding: 2px;
  }
}

.post-header-username {
  font-size: 13px;
}

.post-header-age {
  @extend %muted-text;
}

.post-actions {
  flex: 1;
  display: flex;
  flex-direction: row;

  span {
    flex: 1;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $default-blue;
      
      .post-action-svg {
        fill: $default-blue;
      }
    }
  }
}

.options-svg {
  fill: $muted-text-color;
  padding: 8px;
  border-radius: 36px;
  cursor: pointer;

  &:hover {
    fill: $default-blue;
    background-color: rgba($color: $default-blue, $alpha: 0.1);
  }
}

.post-action-svg {
  fill: $default-text-color;
}

.post-action-svg-container {
  position: relative;
  margin-right: 16px;
  top: 5px;
}

.post-action-value {
  display: inline-block;
}

.post-options {
  flex: 1;
  text-align: right;
  height: 40%;
  margin: auto;

  div {
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.image-container {
  background-color: $image-container-color;
  max-height: 500px;
  cursor: pointer;
  text-align: center;

  img {
    display: block;
    max-height: 500px;
    width: 100%;
    object-fit: contain;
  }
}

.post-caption {
  p {
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    text-align: left;
    opacity: 80%;
  }
}