@import '../../../styles/colors';
@import '../../../styles/extendables';
@import '../../../styles/mixins';

.create-container {
  text-align: center;
  font-size: 14px;

  max-width: 600px;
  margin: 12px;
  @media (min-width: 640px) {
    margin-left: auto;
    margin-right: auto;
  }

  align-items: stretch;

  .caption-container {
    input {
      @include textbox;

      padding: 10px;
      margin: 12px;
      width: 100%;
      max-width: 500px;
    }
  }

  .genre-label {
    text-align: left;
    max-width: 500px;
  }

  .genre-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;

    table {
      flex: 1;
      text-align: left;

      td {
        background-color: $default-blue;
        color: $default-white;

        height: 30px;
        border-radius: 16px;
      }
    }
  }

  .submit-btn {
    margin: 50px;

    button {
      @include colored-button;
      height: 32px;
      width: 80px;
    }
  }
}