@import 'styles/colors';
@import 'styles/fonts';

* {
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  background-color: $default-background;
  font-family: $default-font;
  color: $default-text-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}