@import 'styles/colors';
@import 'styles/fonts';

body {
  margin: 0;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $default-background;
  color: $default-text-color;
}